.about {
  letter-spacing: 0.055em;
  background-color: $color-gray-light;

  &__container {
    display: grid;

    @media (min-width: 992px) {
      gap: 100px;
      grid-template-columns: 1fr 271px;
    }

    @media (max-width: 991.8px) and (min-width: 768px) {
      gap: 40px;
      grid-template-columns: 1fr 271px;
    }

    @media (max-width: 767.8px) and (min-width: 576px) {
      gap: 20px;
      grid-template-columns: 1fr 236px;
    }
    @media (max-width: 575.8px) {
      gap: 20px;
      grid-template-columns: 1fr;
    }
  }

  &__content {
    & p {
      @media (min-width: 992px) {
        font-size: 1.125rem;
      }
      &:first-of-type {
        position: relative;
        margin-top: -5px;
      }
      &:last-of-type {
        margin: 0;
      }
      &:first-of-type::after {
        position: absolute;
        top: 0;
        width: 2px;
        height: 200px;
        content: '';
        background-color: rgba($color-gray, 0.1);
        @media (min-width: 992px) {
          right: -50px;
        }
        @media (max-width: 991.8px) and (min-width: 768px) {
          right: -20px;
        }
        @media (max-width: 767.8px) and (min-width: 576px) {
          right: -10px;
        }
        @media (max-width: 575.8px) {
          display: none;
        }
      }
    }
  }
  &__img {
    display: grid;
    align-content: center;
    justify-items: center;
    & img {
      max-width: 100%;
      max-height: 480px;
    }
  }
}
